.copyright {
  text-decoration: none;

  &:hover .copyright__logo svg path {
    fill: $basic-green;
  }

  &:active .copyright__text {
    color: scale-color(#666666, $lightness: 70%);
  }

  &:active .copyright__logo svg path {
    fill: scale-color(#68b738, $lightness: 70%);
  }
}

.copyright__text {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 16px;
  color: $special_dark-grey;
}
