.description__wrapper {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 69px;
  }
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.description__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.description__item {
  display: block;
  margin-bottom: 20px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin-right: 74px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin: 0;
  }
}
