.program {
  @media (min-width: $tablet-width) {
    width: 377px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.program__name {
  text-transform: uppercase;
  color: $basic-black;
}

.program__description {
  // font-family: "Arial", sans-serif;
  font-family: "Arial", "Verdana", sans-serif;
}

.program__catalog {
  text-transform: uppercase;
  font-size: 16px;
  color: $basic-black;
  text-decoration: none;
  margin-bottom: 18px;
}
