// root
$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-green-2: #5EAA2F;
$green-social-active: #C9E0BA;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$special-grey-2: #666666;
$basic_grey: #f2f2f2;
$basic_grey-2: #EBEBEB;
$grey-more: #111111;
